.favorite_form {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
  gap: 90px;
  color: #000;
  font-size: 20px;
  line-height: normal;
}

.favorite_input:checked {
  font-size: 60px;
}

.favorite_form_dot {
  cursor: pointer;
  accent-color: #000;
}

.favorite_form_active {
  font-weight: bold;
}

.favorite_books {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.favorite_book {
  width: 50%;
}
