.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.title {
  color: #bb945f;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.product {
  color: #000;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.line_price_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px;
}

.line {
  width: 100px;
  height: 1px;
  background: #bb945f;
}

.price {
  color: #000;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}
