body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}

.container_main {
  width: 1440px;
  box-sizing: border-box;
}

.container_welcome {
  display: flex;
  flex-direction: column;
  background: url("../../images/image-welcome.png");
  width: 100%;
  padding-bottom: 160px;
}

.welcome_box {
  margin-top: 220px;
  padding: 35px 40px;
  width: 520px;
  height: 150px;
  background-color: rgb(0, 0, 0);
}

.welcome_text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.container_about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about_title {
  margin: 20px 0;
  color: #0c0c0e;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.about_line {
  width: 50px;
  height: 1px;
  flex-shrink: 0;
  background: #0c0c0e;
}

.about_text {
  margin: 40px 0 20px;
  color: #000;
  text-align: center;
  font-size: 20px;
  line-height: 40px;
}

.container_favorites {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

.favorites_title {
  margin: 20px 0;
  color: #0c0c0e;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.favorites_line {
  width: 50px;
  height: 1px;
  flex-shrink: 0;
  background: #0c0c0e;
}

.favorites_text {
  align-self: flex-start;
  margin: 40px 0;
  color: #000;
  font-size: 20px;
  line-height: normal;
  font-weight: bold;
}

.container_shop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 40px;
  width: 100%;
  box-sizing: border-box;
}

.shop_title {
  font-family: "Forum";
  margin-bottom: 20px;
  color: #0c0c0e;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.shop_line {
  width: 50px;
  height: 1px;
  flex-shrink: 0;
  background: #000;
}

.shop_text {
  margin: 40px 0;
  padding: 0 50px;
  color: #000;
  text-align: center;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.shop_menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 480px;
}

.container_contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 40px;
  box-sizing: border-box;
}

.contacts_title {
  margin-bottom: 20px;
  color: #0c0c0e;
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.contacts_line {
  width: 50px;
  height: 1px;
  flex-shrink: 0;
  background: #000;
}

.contacts_box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}

.contacts_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  color: #000;
  text-align: center;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.contacts_info_text_one {
  font-weight: bold;
  margin-bottom: 20px;
}

.contacts_info_phone {
  text-decoration: none;
  color: #000;
}

.contacts_info_phone:hover {
  color: #bb945f;
}

.contacts_info_text_two {
  font-weight: bold;
  margin-top: 20px;
}

.contacts_map {
}
