.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: black;
  color: white;
  padding: 20px 20px 30px;
}

.address_media_box {
  width: 15%;
  display: flex;
  flex-direction: column;
}

.address {
  text-decoration: none;
  color: #fff;
  font-family: Inter;
  font-size: 15px;
  line-height: 20px;
}

.media_box {
  display: flex;
  flex-direction: row;
  margin-top: 18px;
  gap: 10px;
}

.schedule {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  text-align: end;
  color: #fff;
  font-family: Inter;
  font-size: 15px;
  line-height: 20px;
}
