.icons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.icon_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.icon_title {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: capitalize;
}

.icon_counter {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-transform: capitalize;
}
